@model premier_access_app.Models.person_role

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>person_role</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.role_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.role_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.role_description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.role_description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.role_state)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.role_state)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
