@model Library.Models.biblioteca

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>biblioteca</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.libro.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.libro.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.usuario.contrasena)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.usuario.contrasena)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idbiblioteca }) |
    @Html.ActionLink("Back to List", "Index")
</p>
